<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TPENIEnchere</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
    <welcome-file>PageAccueil</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <jsp-file>/WEB-INF/affichage/Accueil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/PageAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <jsp-file>/WEB-INF/affichage/Connexion.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/PageConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <jsp-file>/WEB-INF/affichage/Inscription.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/PageInscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AffichageProfilVendeur</servlet-name>
    <jsp-file>/WEB-INF/affichage/AffichageProfilVendeur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichageProfilVendeur</servlet-name>
    <url-pattern>/PageProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationProfil</servlet-name>
    <jsp-file>/WEB-INF/affichage/ModificationProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationProfil</servlet-name>
    <url-pattern>/ModificationProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonProfil</servlet-name>
    <jsp-file>/WEB-INF/affichage/MonProfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonProfil</servlet-name>
    <url-pattern>/MonProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NouvelleVente</servlet-name>
    <jsp-file>/WEB-INF/affichage/NouvelleVente.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelleVente</servlet-name>
    <url-pattern>/NouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherDetailEnchere</servlet-name>
    <jsp-file>/WEB-INF/affichage/AfficherDetailEnchere.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherDetailEnchere</servlet-name>
    <url-pattern>/DetailEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnchereRemportee</servlet-name>
    <jsp-file>/WEB-INF/affichage/EnchereRemportee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnchereRemportee</servlet-name>
    <url-pattern>/ResultatEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VenteRemportee</servlet-name>
    <jsp-file>/WEB-INF/affichage/VenteRemportee.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenteRemportee</servlet-name>
    <url-pattern>/ResultatVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationEnchere</servlet-name>
    <jsp-file>/WEB-INF/affichage/ModificationEnchere.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationEnchere</servlet-name>
    <url-pattern>/ModificationEnchere</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <jsp-file>/WEB-INF/Admin/Admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/PageAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AchatCredits</servlet-name>
    <jsp-file>/WEB-INF/affichage/AchatCredits.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AchatCredits</servlet-name>
    <url-pattern>/AchatCredits</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>MotDePasseOublie</servlet-name>
    <jsp-file>/WEB-INF/affichage/MotDePasseOublie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MotDePasseOublie</servlet-name>
    <url-pattern>/PageNouveauMotDePasse</url-pattern>
  </servlet-mapping>
</web-app>